.button-area {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button {
    background-color: #7ABC64;
    color: white;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    margin: 20px;
    margin-bottom: 40px;
    font-size: small;
    font-weight: bold;
}

.learn-more {
    border: 3px solid #5a8cb5;
    color: #5a8cb5;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    margin: 20px;
    margin-bottom: 40px;
    font-size: small;
}

.green {
    color: #7ABC64
}

.grey {
    color: rgb(153, 153, 153);
}

.white {
    color: white;
}

.azul {
    color: #5a8cb5;
}

.text-align-center {
    text-align: center;
}